
 
    
    body{
        box-sizing: border-box;
    }
    
    h1{
        font-size: 40px;
        line-height: 35px;
    }
    h2{
        font-size: 24px;
        line-height: 38px;
    }
    
    h4{
         font-size: 18px;
         line-height: 30px;
    }
    
    p{
        font-size: 15px;
        font-weight: 600;
    }

    /* nav-bar */
    
    .header{
        padding: 22px 55px; 
    }
    
    
    .dumbel{
       display: flex;
       align-items: center;
        
    }
    .dumbel .icon{
        font-size: 25px;
        color: rgb(36, 36, 36);
        padding-left: 15px;
    }
    
    .dumbel .icon:hover {
        color: rgb(7, 180, 137);
    }
    
    .nav-menu {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 200px;
        padding: 5px;
        background-color: aliceblue;
        box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
    }
    
    #nav.active{
        right: 0;
    }
    
    #close{
        display: flex;
        position: absolute;
        padding: 10px;
        font-size: 20px;
        color: #4a4747;
    }
    
    #close:hover{
        background-color: rgb(243, 47, 47);
        color: #fff;
    }
    .nav-menu li  {
        margin-top: 50px;
        padding-bottom: 5px;
    }
    .nav-menu li a{
        font-size: 16px;
    }
    
    /* nav-bar-end */
    
    /* hero-part */
    .hero {  
    flex-wrap: wrap;
        height: 70vh;
        padding: 0 20px;
       background-position: top 30% right 30% ;
    }
    
    #hero-part{
        flex-wrap: wrap;
        padding: 88px 0px 0px 40px;
         
       }

     #hero-part .p{
        width: 334px;
        font-size: 16px;
    }
      
       /* hero-part-end */
    
       /* feature-box */
     
       .feature{
        justify-content: space-between;
        margin: 0px 80px;
       }
    
    .feature .fe-box{ 
        width: 230px;
        margin: 25px 15px;   
      }

      .section-p1{
        padding: 25px 0px;
        }
    
        /* product-part */
    
        #product-part .product {
            min-width: 240px;   
        }

        .prd-container { 
            padding: 20px  80px;    
        }

        /* product-part-end */
 
        /* offer-banner */

        .banner-offer {
            height: 20vh;
        }

        .banner-offer h2 {

            font-size:30px; 
            padding: 10px 0;
        }
    
        .banner-offer h4{
            font-size: 25px;
        }
    
        button.normal {
            font-size: 20px;
            border-radius: 5px;
        }

        /* offer-banner-end*/
    
        .banner-sec { 
            justify-content:center;
        }
    
        .banner-1{
             padding: 55px;
             width: 100%;
             margin-bottom: 15px;  
          }
    
          /* tex-bannert */
          .text-banner-sec {
            display: flex;
            flex-wrap: wrap;
            justify-content:  space-around;
        }

          .text-banner-sec .text-banner{
            width:28%; 
          }
    
          .text-banner-sec .text-banner  h2{
            font-size: 25px;
          } 
          .text-banner-sec .text-banner  h4{
            font-size: 18px;
          } 
    
          .signup-part{
            height:  22vh;;
          }
          
          .signup-part .signup-txt {
            padding: 0 20px;
        }
          .signup-part .input {
            
            height: 3.5rem;
            font-size: 18px;
           margin-left: 20px;
        }
          .signup-part  .form{ 
            width: 70%;
            text-align: center;
         }
         .signup-part button {
            background-color: #088178;
            white-space: nowrap;
            color: #fff;
            padding: 0 1.25rem;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .footer-section {
            justify-content: space-around;
        }
        .footer-section .section-p1{
            padding: 25px 30px;
            }
            .footer-section .col-2{
                margin-top: 30px;
              }
              .footer-section .col-3{
                margin-top: 30px;
              }
              .footer-section .col-4{
                margin-top: 30px;
              }
              








 
